*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #706d58 transparent;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--neutral-100);
    margin: 0px;
}

input[type="checkbox"] {
    accent-color: var(--green-700);
    width: 15px;
    height: 15px;
    transition: 0.25s;
    border-radius: 75px;
    opacity: 0.25;
}

input[type="checkbox"]:hover {
    height: 17px;
    width: 17px;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

input[type="text"] {
    border-radius: 50px;
    background-color: var(--green-400);
    text-align: center;
    font-size: var(--font-size-body);
    font-family: 'DM Sans', sans-serif;
    width: 100px;
    height: 37px;
    outline: none;
    border: none;
    margin: 7px;
    color: var(--green-1100);
    transition: 0.25s ease-out;
}

input[type="text"]:hover {
    background-color: var(--green-500);  
}

input[type="text"]:focus {
    width: 360px; 
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-1200);
}

strong, b {
    font-weight: 700;
}

h3 {
    font-size: var(--font-h3-size);
    font-weight: var(--font-weight-h3);
    color: var(--neutral-1200);
    margin: 0px;
}

h2 {
    font-size: var(--font-h2-size);
    font-weight: var(--font-weight-h2);
    color: var(--neutral-1200);
    margin: 0px;
}

h1 {
    font-size: var(--font-h1-size);
    font-weight: var(--font-weight-h1);
    color: var(--neutral-1200);
    margin: 0px;
}

/* These are your buttons */
.sidebar-button {
    border-radius: 5px;
    background-color: var(--neutral-200);
    width: 210px;
    height: 35px;
    justify-content: left;
    justify-items: start;
    align-items: start;
    padding: 5px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-1200);
    text-align: left;
    transition: background-color 0.25s ease;
}

.sidebar-button:hover {
    background-color: var(--neutral-400);
}

.sidebar-button:active {
    transition: background-color 0.05s ease;
    background-color: var(--neutral-600);
}

.topbar-button {
    border-radius: 5px;
    background-color: var(--neutral-200);
    width: fit-content;
    height: 37px;
    justify-content: left;
    justify-items: start;
    align-items: start;
    padding: 5px 15px;
    margin: 7px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-1200);
    text-align: left;
    transition: background-color 0.25s ease;
}

.topbar-button:hover {
    background-color: var(--neutral-400);
}

.topbar-button:active {
    transition: background-color 0.05s ease;
    background-color: var(--neutral-600);
}

.warning-button {
    border-radius: 10px;
    background-color: var(--red-500);
    width: fit-content;
    height: 37px;
    justify-content: left;
    justify-items: start;
    align-items: start;
    padding: 5px 15px;
    margin: 7px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-200);
    text-align: center;
    transition: 0.25s ease;
}

.warning-button:hover {
    translate: 0px -2px;
    padding: 8px 18px;
}

.warning-button:active {
    transition: 0.06s;
    translate: 0px 5px;
}

.primary-button {
    border-radius: 10px;
    background-color: var(--green-500);
    width: fit-content;
    height: 37px;
    justify-content: left;
    justify-items: start;
    align-items: start;
    padding: 5px 15px;
    margin: 7px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--green-1100);
    text-align: center;
    transition: 0.25s ease;
}

.primary-button:hover {
    translate: 0px -2px;
    padding: 8px 18px;
    background-color: var(--green-600);
}

.primary-button:active {
    transition: 0.06s;
    translate: 0px 5px;
    background-color: var(--green-700);
}






.note-card {
    position: relative;
    width: 310px;
    height: 245px;
    background-color: var(--neutral-200);
    border-radius: 20px;
    box-shadow: var(--light-shadow) 0px 4px 10px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.25s;
    text-decoration: none;
    color: var(--neutral-1200);
}

.note-card:hover {
    background-color: var(--neutral-300);
}

.note-card:active {

    transition: 0.06s;
    translate: 0px 4px;
    box-shadow: none;
    background-color: var(--neutral-400);

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    outline: 2px var(--neutral-400) solid;
    height: 100vh;
    width: 244px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: var(--neutral-200);
}

.topbar {
    width: calc(100vw);
    height: 54px;
    outline: 2px var(--neutral-400) solid;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--neutral-200);
}

.icon {
    border-radius: 5px;
    background-color: var(--green-500);
    color: var(--green-1200);
    font-size: var(--font-h3-size);
    font-weight: var(--font-weight-bold);
    margin: 12px;
    padding: 0px;
    width: 45px;
    height: 45px;
    text-align: center;
    box-shadow: var(--light-shadow) 0px 10px 20px 0px;
}

.background {
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--neutral-100);
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
    height: fit-content;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.material-symbols-outlined {
    vertical-align:sub;
}

.EasyMDEContainer .CodeMirror {
  height: calc(100vh - 100px);
}

.uniqeWord {

    text-decoration: underline;
    text-decoration-color: var(--green-900);
    color: var(--bright-green-500);

}

.card {

    background-color: var(--neutral-200);
    color: var(--neutral-1200);
    padding: 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: var(--light-shadow) 0px 25px 20px;
    transition: 0.5s;

}

.card:hover {
    padding: 40px;
}
