<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ note.name[:-3] }}</title>

    {% include "imports.html" %}

    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div class="column">
            <div class="topbar" style="z-index: 5;">
                <div class="row">
                    <button class="topbar-button" onclick="window.location.href='{{ url_for('preview', user=user.name, noteName=noteName) }}'">Preview</button>
                </div>
            </div>
            <form method="post">  
                <textarea id="text" name="text" spellcheck="true" style="max-height: calc(100vh - 50px);">{{ note.text }}</textarea>  
            </form>
        </div>
    </div>

    {% include "sidebar.html" %}
</body>
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>
</html>