<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULL Notes - Notes</title>

    {% include "imports.html" %}

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div style="margin: 30px;">{{ noteText }}</div>
    </div>

    <button onclick="window.location.href='{{ url_for('edit', user=user.name, noteName=noteName) }}'" style="position: absolute; right: 50px; bottom: 75px;">Edit</button>

    {% include "sidebar.html" %}
</body>
</html>