<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULL Notes - Notes</title>

    {% include "imports.html" %}

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div class="column">
            <div class="topbar" style="z-index: 5;">
                <div class="row">
                    <button class="topbar-button" onclick="window.location.href='/{{ user.name }}/edit/{{ noteName }}'">Edit</button>
                    <form method="post">
                        <button type="submit" class="topbar-button">Delete</button>
                    </form>
                </div>
            </div>
            <div style="margin: 30px;">{{ noteText }}</div>
        </div>
    </div>

    {% if result %}

    

    {% endif %}

    {% include "sidebar.html" %}
</body>
</html>
