<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULL Notes - Notes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='tokens.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div style="margin: 30px;">{{ noteText }}</div>
    </div>
    {% include "sidebar.html" %}
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>