<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULL Notes - Words</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='tokens.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div class="center-horizontal">
            <div class="column" style="gap: 20px;">
                <div class="center-horizontal">
                    <div class="column">
                        <h1 style="width: 100; text-align: center; margin-bottom: 0px;">Words</h1>
                        <input type="text" id="search" placeholder="Google for your mind..."/>
                    </div>
                </div>
                <div class="grid">
                    {% for word, wordObj in words.items() %}
                        <div class="note-card">
                            <h3>{{ word }}</h3>
                            <ul>
                                {% for note in wordObj.notes %}
                                    <li>{{ note }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "sidebar.html" %}
</body>
<script src="{{ url_for('static', filename='search.js') }}"></script>
</html>