<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULL Notes - Words</title>

    {% include "imports.html" %}

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div style="margin: 20px;">
            <div class="center-horizontal">
                <div class="column" style="gap: 20px;">
                    <div class="center-horizontal">
                        <div class="column">
                            <h1 style="width: 100; text-align: center; margin-bottom: 0px;">Words</h1>
                            <input type="text" id="search" placeholder="Google for your mind..."/>
                        </div>
                    </div>
                    <div class="grid">
                        {% for word, wordObj in words.items() %}
                            <a href="/{{ user.name }}/words/{{ word.lower() }}/" class="note-card">
                                <h3>{{ word }}</h3>
                                <ul>
                                    {% for note in wordObj.notes %}
                                        <li>{{ note }}</li>
                                    {% endfor %}
                                </ul>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "sidebar.html" %}
</body>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
</html>