<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULL Notes - Words</title>

    {% include "imports.html" %}

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div class="column">
            <div class="topbar" style="z-index: 5;">
                <div class="row">
                    <input type="text" id="search" placeholder="Search..."/>
                </div>
            </div>
            <div style="margin: 20px;">
                <div class="center-horizontal">
                    <div class="column">
                        <div class="center-horizontal">
                                <h1 style="width: 100; text-align: center; margin-bottom: 0px;">Words</h1>
                        </div>
                        <div class="grid">
                            {% for word, wordObj in words.items() %}
                                <a href="/{{ user.name }}/words/{{ word.lower() }}/" class="note-card">
                                    <div style="position: absolute; background-color: var(--neutral-500); x: 0; y: 0; width: 310px; height: 97px; "></div>
                                    <h3 style="position: relative; top: 100px; left: 10px;">{{ word }}</h3>
                                    <ul style="position: relative; top: 80px; left: -10pxpx;">
                                        {% for note in wordObj.notes %}
                                            {% if 4 > loop.index %}
                                                <li>{{ (note | replace('_', ' '))[:-3] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "sidebar.html" %}
</body>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
</html>