<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word - {{ word.name }}</title>

    {% include "imports.html" %}

</head>
<body>
    <div class="background" style="left: 244px; width: calc(100vw - 244px);">
        <div class="column">
            <div class="topbar" style="z-index: 5;">
                <div class="row">
                    {% for note in word.notes %}
                        <button class="topbar-button" onclick="window.location.href='/{{ user.name }}/preview/{{ note }}/'">{{ (note | replace('_', ' '))[:-3] }}</button>
                    {% endfor %}
                </div>
            </div>
            <div style="margin: 20px;">
                <div class="center-horizontal">
                    <div class="column" style="gap: 20px;">
                        <h1>{{ word.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "sidebar.html" %}
</body>
</html>